{% extends 'admin/layouts.html' %} 



{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Blog Table</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Category</li>
        <li class="breadcrumb-item active">all categories</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
  
      <div class="col-lg-12">
        <main role="main" class="container"  >
          {% if messages %}
            {% for message in messages %}
              {% if message.tags == "success"%}
              <div class="alert alert-success">
                {{ message }}
              </div>
             
              {% endif %}
            {% endfor %}
          {% endif %}
        <div class="card">
          <div class="card-body">
      <a href='/admin/add-new-category' class="btn btn-success mt-4">Add New Category</a>

            <h5 class="card-title">Categories</h5>
            {% comment %} <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p> {% endcomment %}
            <!-- Bordered Table -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Category Name</th>
                  <th scope="col">Category Status</th>
                  <th scope="col">Date</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for data in categories%}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{data.category_name}}</td>
                    <td>
                      {% if data.status == 1  %}
                      <a href="/admin/category-status/{{data.id}}" class="btn btn-success">Active</a>
                      
                      {% elif data.status == 0  %}
                      <a href="/admin/category-status/{{data.id}}" class="btn btn-warning">InActive</a>

                      
                      {% endif %}
                    <td>{{data.created_at}}</td>

                    <td >
                      <a href="/admin/category-edit/{{data.id}}" class="text-center" > <i class="fa-sharp fa-regular fa-pen-to-square text-primary"></i>&nbsp;
                        &nbsp;<a data-toggle="modal" data-target="#exampleModal" class="text-center"> <i class="fa-solid fa-trash text-danger open-modal"  data-id="{{ data.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                     </td>
                  </tr>
                {% endfor %}
             
              </tbody>
            </table>
            <!-- End Bordered Table -->

            <!-- End Primary Color Bordered Table -->

          </div>
        </div>


      </div>
    </div>
    <!-- Button trigger modal -->


    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/admin/delete-category">
            {% csrf_token  %}
              <p>Are you sure do you want to delete Category</p>
            <input type="hidden" name="category_id" id="category_id">
            
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Yes Delete</button>
            <form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </section>
  

  <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
  <script>
    $(document).on("click", ".open-modal", function () {
      var myBookId = $(this).data('id');
      $(".modal-body #category_id").val( myBookId );
      // As pointed out in comments, 
      // it is unnecessary to have to manually call the modal.
      // $('#addBookDialog').modal('show');
 });
</script>
  
</main><!-- End #main -->




{% endblock  %}
  